<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author.name %>
</p>

<% if @post.comments.size > 0 %>
  <h2>Comments</h2>
  <% for comment in @post.comments %>
    <h3><%= comment.name %></h3>
    <p><%= comment.text %></p>
  <% end %>
<% end %>

<h3> Leave a comment </h3>
<%= form_for([@post, Comment.new]) do |f| %>
  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.text_area :text, :rows => 10 %></p>
  <p><%= f.submit %></p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
